<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DataBaseConnectionString" connectionString="Persist Security Info=False;Integrated Security=SSPI;Initial Catalog=HandokECS;Data Source=localhost\sqlexpress;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="LocalDataBaseConnectionString1"
         connectionString="Persist Security Info=True;Initial Catalog=HandokECS;Data Source=myTest\sqlexpress;User ID=ysh;Password=ysh1231;Connect Timeout=30"
         providerName="System.Data.SqlClient" />
    <add name="GlobalDataBaseConnectionString2"
         connectionString="Persist Security Info=True;Initial Catalog=HandokECS;Data Source=myTest\sqlexpress;User ID=ysh;Password=ysh1231;Connect Timeout=30"
         providerName="System.Data.SqlClient" />
    <add name="GlobalDataBaseConnectionString_local" connectionString="Persist Security Info=False;Integrated Security=SSPI;Initial Catalog=HandokGlobal;Data Source=localhost\sqlexpress;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="GlobalDataBaseConnectionString"
         connectionString="Persist Security Info=False;Initial Catalog=ezMCSGlobal;Data Source=166.118.229.14;User ID=mcsadmin;Password=ezMcs@Admin;Connect Timeout=30"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown mode="Singleton" type="ECS.Boot.Launcher,ECS"
             objectUri="Launcher"/>
      </service>
      <channels>
        <channel ref="tcp"  port="5210">
          <clientProviders>
            <formatter ref="binary" />
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
  <appSettings>
    <add key ="AGV_HOST" value ="9900"/>
    <add key="ECP_Base" value="D:\LOG"/>
    <add key="ECP_Log" value="D:\LOG\Stocker"/>
    <add key="NamingHost"  value="localhost"/>
    <add key="NamingPort"  value="5210"/>
    <add key="EmulationHost" value="localhost"/>
    <add key="EmulationPort" value="5213"/>
    <add key="StartMode" value="Client" />
    <!--<add key="ClientType" value="QI" />-->
    <add key="SAPConnectString" value="CLIENT=100 USER=RCPCOM PASSWD=ECSCOM ASHOST=166.118.165.33 SYSNR=0"/>
  </appSettings>
</configuration>

