<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DataBaseConnectionString" connectionString="Persist Security Info=False;Integrated Security=SSPI;Initial Catalog=LglsMCS;Data Source=localhost\sqlexpress;Connect Timeout=30"
  providerName="System.Data.SqlClient" />
    <add name="GlobalDataBaseConnectionString" connectionString="Persist Security Info=False;Integrated Security=SSPI;Initial Catalog=LglsMCS;Data Source=localhost\sqlexpress;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.runtime.remoting>
    <application>       
      <service>
        <wellknown mode="Singleton" type="ECP.Emulator.FieldBus.ObservableSharedMemory,ECP"
             objectUri="ObservableSharedMemory"/>
      </service>
      <channels>
        <channel ref ="tcp" port="5213">
          <clientProviders>
            <formatter ref="binary" />
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
        </channel>        
      </channels>
    </application>
  </system.runtime.remoting>
  <appSettings>
    <add key="ECP_Base" value="c:\ecp"/>
    <add key="ECP_Log" value="c:\ecp\Log\StockerSharedMemory"/>
    <add key ="NamingHost" value="localhost"/>
    <add key ="NamingPort" value="5210"/>
    <add key="EmulationHost" value="localhost"/>
    <add key="EmulationPort" value="5213"/>
    <add key="StartMode" value="ECS" />    
  </appSettings>
 </configuration>

